<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>products</title>
    <style>
        * {
            background-color: darkgrey;
            font-style: italic;
            text-decoration: underline;
        }

        .p_name {
            color: blueviolet;

        }

        .p_desc {
            color: darkblue;
        }
    </style>
</head>

<body>
    <h1>Product list</h1>
    <h1>{{request.session.current_user}}</h1>
    {% for product in object_list %}
    <ul>
        <li class="p_name"><a href="{% url 'productdetail'  pk=product.id %}"> Name:: <h1>{{product.product_name}}</h1>
                </a></li>
        <li class="p_desc">Description::{{product.product_description}}</li>
        <div><img src="{{product.product_picture.url}}" alt=""></div>
    </ul>

    {% endfor %}



</body>

</html>